:root {
    --mdc-theme-primary: #E69138;
    --mdc-theme-secondary: #D56217;
    font-size: 100%;
}

/*remove stylings*/
section#interface, section.mdc-card__action, section.mdc-card__actions {
    margin: inherit !important;
    border: 0;
}
.mdc-typography, h3.mdc-typography, .mdc-card__actions>p, .mdc-card__actions label  {
    color: var(--mdc-theme-text-primary-on-background) !important; 
    font-weight: inherit;
    line-height: var(--mdc-typography-body2-line-height, 1.25rem);
}

.mdc-card__actions input {
    background: inherit !important;
}

.mdc-button--outlined:not(:disabled) {
    color: var(--mdc-theme-primary, #6200ee) !important; 
}
.mdc-button:not(:disabled) {
    color: var(--mdc-theme-primary, #6200ee) !important; 
}
.mdc-card__actions label {
    white-space: inherit;
    user-select: none;
}
section#interface, .mdc-card__action, section.mdc-card__actions {
    padding: 8px !important;
}
.mdc-button {
    font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family, Roboto, sans-serif)) !important;
    font-size: var(--mdc-typography-button-font-size, 0.875rem) !important;
    line-height: normal;
}


/*normal styling*/
.mdc-theme--primary {
    color: #E69138  !important;
    /* @alternate */
    color: var(--mdc-theme-primary, #E69138) !important;
}
  
.mdc-theme--secondary {
    color: #D56217  !important;
    /* @alternate */
    color: var(--mdc-theme-secondary, #D56217) !important;
}
.mdc-text-field .mdc-text-field__input {
    caret-color: #D56217;
    /* @alternate */
    caret-color: var(--mdc-theme-primary, #D56217) !important;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-secondary, rgba(98, 0, 238, 0.87));
}
.mdc-text-field__input {
    padding-top: 0.5rem;
}
.mdc-card__actions.gallery-selector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.radio-item_container {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    margin-bottom: 0.5rem;
}
.radio-item {
    display: flex;
    align-items: center;
    padding-right: 0.25rem;
}

article#interface-query {
    position: absolute;
    z-index: 9999999999;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 575px !important; 
    font-family: var(--mdc-typography-body2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif)) !important;
    font-size: var(--mdc-typography-body2-font-size, 0.875rem) !important;
}

section#interface {
    padding: 0.5em;
}

.interfaceHeadline {
    margin-top: 0 !important;
    margin-left: 0;
    margin-bottom: 0.1em !important;
    text-align: center;   
}
h2.interfaceHeadline{
    margin-bottom: 0.1em;
    font-size: var(--mdc-typography-headline6-font-size, 1.25rem) !important;
}
.mdc-typography--subtitle2 {
    font-size: var(--mdc-typography-subtitle2-font-size, 0.875rem) !important;
}


.mdc-card__actions {
    min-height: 1.5em !important;

}
.mdc-card__actions:not(:first-of-type) {
    padding-top: 0 !important;
}

.mdc-floating-label, .mdc-text-field__input {
    font-size: 14px;
}
.mdc-text-field__input {
    margin: auto;
}


.justify-space-evenly {
    justify-content: space-evenly;
}
.justify-center {
    justify-content: center;
}
.justify-left {
    justify-content: left;
}
label.mdc-text-field--filled {
    height: 3em;
}

p#sq-filename-result {
    margin: 0em 0em 0;
}

.mdc-card__actions + .mdc-card__actions {
    padding-top: 0;
}
.mdc-text-field.short-input {
    flex-grow: 1;
    max-width: 50px;
    padding: 0 .75em
}
.mdc-text-field.medium-input {
    flex-grow: 1;
    max-width: 125px;
}
input:-internal-autofill-selected, input:-webkit-autofill, input:-webkit-autofill:focus {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1), inset 0 0 0 100px rgba(255, 255, 255,1);
}

.mdc-text-field + .mdc-text-field {
    margin-left: 0.2em;
}
.hidden {
    display:none;
}
.mdc-text-field__icon--trailing {
    padding-left: 9px;
    padding-right: 0;
    margin-right: -5px;
}
.mdc-text-field__icon {
    user-select: none;
}
.mdc-text-field__icon:hover, .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon--trailing:hover {
    color: var(--mdc-theme-secondary, rgba(98, 0, 238, 0.87));
}

/** Forced darkmode.*/
.dark-mode {
    --mdc-theme-on-surface: rgb(255, 255, 255, 0.85);
    --mdc-theme-background: #444444;
    --mdc-theme-surface: #444444;
    --mdc-theme-primary: #ff9e40;
    --mdc-theme-secondary: #E69138;
    color: var(--mdc-theme-on-surface, rgb(255, 255, 255));
}
.dark-mode .content {
    background-color: rgba(0,0,0,0.8);
}
.dark-mode .mdc-typography--body2, .dark-mode .mdc-typography, .mdc-card__actions label,
    .mdc-card__actions > p {
    color: var(--mdc-theme-on-surface, rgb(255, 255, 255)) !important;
}
.dark-mode .mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: rgba(255, 255, 255, 0.6);
}
.dark-mode .mdc-menu-surface {
    background-color: #444444;
}
.dark-mode .mdc-tab {
    background-color: #444444;
}
.dark-mode .mdc-tab__icon, .dark-mode .mdc-tab__text-label {
    color: rgba(255, 255, 255, 0.6);
}
.dark-mode .mdc-tab--active .mdc-tab__icon, .dark-mode .mdc-tab--active .mdc-tab__text-label {
    color: var(--mdc-theme-primary, #6200ee);
}
.dark-mode .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background,
    .dark-mode .mdc-button--outlined:not(:disabled) {
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.05);
}

@media (prefers-color-scheme: dark) {
    .dark-auto {
        --mdc-theme-on-surface: rgb(255, 255, 255, 0.85);
        --mdc-theme-background: #444444;
        --mdc-theme-surface: #444444;
        --mdc-theme-primary: #ff9e40;
        --mdc-theme-secondary: #E69138;
        color: var(--mdc-theme-on-surface, rgb(255, 255, 255));
    }
    .dark-auto .content {
        background-color: rgba(0,0,0,0.8);
    }
    .dark-auto .mdc-typography--body2, .dark-auto .mdc-typography, .mdc-card__actions label,
        .mdc-card__actions > p {
        color: var(--mdc-theme-on-surface, rgb(255, 255, 255)) !important;
    }
    .dark-auto .mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
        color: rgba(255, 255, 255, 0.6);
    }
    .dark-auto .mdc-menu-surface {
        background-color: #444444;
    }
    .dark-auto .mdc-tab {
        background-color: #444444;
    }
    .dark-auto .mdc-tab__icon, .dark-auto .mdc-tab__text-label {
        color: rgba(255, 255, 255, 0.6);
    }
    .dark-auto .mdc-tab--active .mdc-tab__icon, .dark-auto .mdc-tab--active .mdc-tab__text-label {
        color: var(--mdc-theme-primary, #6200ee);
    }
    .dark-auto .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background,
        .dark-auto .mdc-button--outlined:not(:disabled) {
        border-color: rgba(255, 255, 255, 0.6);
    }
}