:root {
    --mdc-theme-primary: #E69138;
    --mdc-theme-secondary: #D56217;
    --mdc-typography-body2-font-size: 0.825rem; 
    --mdc-typography-subtitle1-font-size: 0.825rem;
    --mdc-checkbox-touch-target-size: 35px;
    --mdc-checkbox-ripple-size: 35px;
    font-size: 100%;
}

body {
    width: 25rem;
    height: inherit;
    padding: 0;
    margin: 0;
}

kbd {
    background-color: var(--mdc-theme-secondary, #6200ee);
    color: var(--mdc-theme-on-primary, #fff);
    padding: 0.2rem;
    border-radius: 2px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.italic {
    font-style: italic;
}
.full-width {
    width: 100%;
}
.form-paragraph {
    width: 100%;
    margin:0;
    line-height: normal;
}
.form-paragraph + .form-paragraph {
    margin-top: 0.3rem;
}



.content {
    display: none;
    height:unset;
    max-height: 80vh;
    overflow-y: auto;
    background-color: var(--mdc-theme--secondary-bg, rgba(243, 243, 243, 0.911));
}
.content--active {
    display: block;
  }
.no-margin, ul {
    margin:0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.no-padding {
    padding: 0;
}

.mdc-text-field--filled, .mdc-select, .mdc-select--filled .mdc-select__anchor  {
    height: 2.5rem;
}
.mdc-select__anchor {
    width: auto;
}
.mdc-typography--headline6 {
    margin: 0.3rem 0;
    cursor: auto;
    user-select: auto;
}
.mdc-card {
    margin: 0.3rem;
    padding: 0 0.2rem;
}
.mdc-card__actions + div, .mdc-card__content + div {
    padding-top: 0;
}

.mdc-card__content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    justify-content: center;
}

.mdc-text-field__input {
    padding-top: 0.5rem;
}
.mdc-text-field__container {
    margin-right: 1rem;
    width: 100%;
}
.mdc-text-field__container:only-of-type {
    margin-right: 0;
}

.mdc-text-field__icon {
    font-size: 1rem;
    padding: 0;
    padding-left: 5px;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled, .mdc-text-field--invalid) .mdc-floating-label, 
    .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
    color: var(--mdc-theme-secondary, rgba(98, 0, 238, 0.87));
}
.mdc-card__actions {
    min-height:35px;
}
.mdc-select__selected-text {
    top: -0.8rem;
    position: relative;
}
.mdc-text-field__icon {
    user-select: none;
}
.mdc-text-field__icon:hover, .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon--trailing:hover {
    color: var(--mdc-theme-secondary, rgba(98, 0, 238, 0.87));
}

dt {
    float: left;
    clear: left;
    width: 30%;
    text-align: right;
    font-weight: bold;
}
dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 33%;
    padding: 0 0 0.5em 0;
}
ul {
    padding-left: 2rem;
}

a {
    color: rgba(0, 0, 0, 0.8); 
}
a.mdc-typography--body2 {
    font-weight: 700;
}
a.mdc-typography--body2:hover {
    color: var(--mdc-theme-secondary, rgba(98, 0, 238, 0.87));
    transition: color .3s cubic-bezier(1, 0, 0, 1);
}

.flex-start {
    align-items: flex-start;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.justify-center {
    justify-content: center;
}

/** Forced darkmode.*/
.dark-mode {
    --mdc-theme-on-surface: rgb(255, 255, 255, 0.85);
    --mdc-theme-background: rgba(0,0,0,0.9);
    --mdc-theme-surface: rgba(70, 70, 70, 0.8);
    --mdc-theme-primary: #ff9e40;
    --mdc-theme-secondary: #E69138;
    color: var(--mdc-theme-on-surface, rgb(255, 255, 255));
}
.dark-mode .content {
    background-color: rgba(0,0,0,0.8);
}
.dark-mode .mdc-typography--body2 {
    color: var(--mdc-theme-on-surface, rgb(255, 255, 255));
}
.dark-mode .mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: rgba(255, 255, 255, 0.6);
}
.dark-mode .mdc-menu-surface {
    background-color: #444444;
}
.dark-mode .mdc-tab {
    background-color: #444444;
}
.dark-mode .mdc-tab__icon, .dark-mode .mdc-tab__text-label {
    color: rgba(255, 255, 255, 0.6);
}
.dark-mode .mdc-tab--active .mdc-tab__icon, .dark-mode .mdc-tab--active .mdc-tab__text-label {
    color: var(--mdc-theme-primary, #6200ee);
}
.dark-mode .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-color: rgba(255, 255, 255, 0.6);
}

@media (prefers-color-scheme: dark) {
    .dark-auto {
        --mdc-theme-on-surface: rgb(255, 255, 255, 0.85);
        --mdc-theme-background: rgba(0,0,0,0.9);
        --mdc-theme-surface: rgba(70, 70, 70, 0.8);
        --mdc-theme-primary: #ff9e40;
        --mdc-theme-secondary: #E69138;
        color: var(--mdc-theme-on-surface, rgb(255, 255, 255));
    }
    .dark-auto .content {
        background-color: rgba(0,0,0,0.9);
    }
    .dark-auto .mdc-typography--body2 {
        color: var(--mdc-theme-on-surface, rgb(255, 255, 255));
    }
    .dark-auto .mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
        color: rgba(255, 255, 255, 0.6);
    }
    .dark-auto .mdc-menu-surface {
        background-color: #444444;
    }
    .dark-auto .mdc-tab {
        background-color: #444444;
    }
    .dark-auto .mdc-tab__icon, .dark-mode .mdc-tab__text-label {
        color: rgba(255, 255, 255, 0.6);
    }
    .dark-auto .mdc-tab--active .mdc-tab__icon, .dark-mode .mdc-tab--active .mdc-tab__text-label {
        color: var(--mdc-theme-primary, #6200ee);
    }
}

@-moz-document url-prefix() {
    .content {
        height: 60vw;
    }
}